services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  flume:
    image: apache/flume:1.9.0
    container_name: flume
    depends_on:
      - kafka
    volumes:
      - ./logs:/logs
      - ./flume/flume.conf:/flume-conf/flume.conf
    command: >
      sh -c "flume-ng agent --conf /flume-conf --conf-file /flume-conf/flume.conf --name agent -Dflume.root.logger=INFO,console"
